<header>
	
<header>
    <nav class="navbar">
        <div class="container-logo-text">
            <div class="logo-rbtob-nav-bar">
                <img src="{{ asset('build/images/logo_rbtob_1.png') }}" alt="logo rbtob" style="width:400px; height:200px">
            </div>
            <div class="first-text-navbar">
                <h1>Une nouvelle vision pour vos affaires</h1>
            <div>
        </div>
    </nav>
</header>